
<header class="home-header">
    <a routerLink="/" class="home-header__home-link">
        <img src="../../../assets/trello-logo-white.svg" alt="Trello Logo">
    </a>

    <div>
        <a routerLink="/login" class="home-header__login">Login</a>
        <a routerLink="/login" class="home-header__register">Register</a>
    </div>
</header>

<div class="home-hero">
    <div class="home-hero__container">
        <div>
            <h1 class="home-hero--title">
                Trello helps team work more collaboratively
            </h1>
            <p class="home-hero--description">
                Trello boards, lists and cards enable team to organize and
                prioritize projects in a fun, flexible, and rewarding way.
            </p>
        </div>
        <div>
            <img src="../../../assets/hero.svg" class="home-image"/>
        </div>
    </div>
</div>

<div class="home-team">
    <div class="home-hero__container team-container">
        <div>
            <h1 class="home-hero--title">
                Work with any team
            </h1>
            <p class="home-hero--description">
                Whether it's for work, a side project or even the next
                family vacation, Trello helps your team stay organized.
            </p>
        </div>
        <div>
            <img src="../../../assets/work-with-any-team.png" class="team-image" />
        </div>
    </div>
</div>


<div class="home-workflow">
    <div class="home-hero__container workflow-container">
        <div class="workflow-left-part">
            <h1 class="home-hero--title">
                Built-in Workflow Automation
            </h1>
            <p class="home-hero--description">
                Let the robot do the work! Boost productivity by unleashing the 
                power of automation across your entire team with Butler, and remove
                tedious tasks from your to-do list with:
            </p>
            <ul>
                <li>Rule-Based Triggers</li>
                <li>Customize Card &amp; Board Buttons</li>
                <li>Calendar Commands</li>
                <li>Due Date Commands</li>
            </ul>
        </div>
        <div>
            <img src="../../../assets/workflow.png" class="workflow-image" />
        </div>
    </div>
</div>


<div class="home-information">
    <div class="home-hero__container information-container" >
        <div>
            <img src="../../../assets/information.svg" class="home-image" />
        </div>
        <div>
            <h1 class="home-hero--title">
                Information at a glance
            </h1>
            <p class="home-hero--description">
                Dive into the details by adding comments, attachment, due-dates, add 
                more directly to Trello Cards. Collaborate on projects from beginning to
                end.
            </p>
        </div>
       
    </div>
</div>