<div class="login-page">
    <a routerLink="/">
        <img src="../../../assets/trello-logo.svg" class="trello-main-logo" />
    </a>
    <div class="form-container">
        <div class="form-container__login-header">Register to Trello</div>
        <div class="form-container--errors" *ngIf="errorMessage">{{errorMessage}}</div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <input formControlName="email" type="text" placeholder="Email" class="form-container__login-input">
            <input formControlName="username" placeholder="Username" class="form-container__login-input">
            <input formControlName="password" type="password" placeholder="Password" class="form-container__login-input">
            <button type="submit" class="form-container__login-submit-button">Register</button>
        </form>
        <div class="form-container__form-links">
            <a routerLink="/login" class="form-container___form-links--register-link">Sign in</a>
        </div>
    </div>
</div>